/* SauceysDarkTheme - Please do not change anything
        and distrubute it as your own theme!       */

/* TitleBar */
.typeWindows-15E0Ys {
    margin-top: 4px;
    background-color: rgba(0,0,0,.3);
    transition: 0.3s ease-in-out;
}
.typeWindows-15E0Ys:hover {
    height: 25px;
    background-color: rgba(40,40,40,.3);
    transition: 0.3s ease-in-out;
}
.winButtonClose-2rIvsa {
    transition: 0.3s ease-in-out;
}
.winButtonClose-2rIvsa:hover {
    padding: 3.5px;
    transition: 0.3s ease-in-out;
}
.winButtonMinMax-bT_gQ1 {
    transition: 0.3s ease-in-out;
}
.winButtonMinMax-bT_gQ1:hover {
    padding: 3.5px;
    background-color: rgba(83,83,83,.3);
    transition: 0.3s ease-in-out;
}
.typeWindows-15E0Ys .wordmark-2L03Wr {
    transition: 0.3s ease-in-out;
}
.typeWindows-15E0Ys:hover .wordmark-2L03Wr {
    font-size: 0;
    left: 0;
    opacity: .6;
    padding: 7px 10px 3px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
}

/* Scroll Bar */

::-webkit-scrollbar-thumb {
	border: 4px solid transparent !important;
    background-color: rgba(225, 225, 225, 0.1) !important;
    display: initial;
	border-radius: 0px !important;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
	border-radius: 0px !important;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0) !important;
	border-width: 0 !important;
}

::-webkit-scrollbar-track {
	background: transparent !important;
}

::-webkit-scrollbar {
	width: 14px !important;
	background: transparent !important;   
}

/* User Mentions */
.wrapper-2xO9RX, .guilds-wrapper .guilds .guild .badge,
a[href="/channels/@me"] .badge {
    animation: mention-flash 1.5s linear infinite;  
}

@keyframes mention-flash {
    0% {                          /*vvv  vv  vv*/
        box-shadow: 0 0px 10px rgba(240, 71, 71, 0),
                    0 0 0 0px rgba(240, 71, 71, .4);
    }                            /*^^^  ^^  ^^*/
    50% {                              /*vvv  vv  vv*/
        box-shadow: 0 0px 20px 15px rgba(240, 71, 71, .3),
                    0 0 0 4px rgba(240, 71, 71, .7);
    }
    100% {                             /*vvv  vv  vv*/
        box-shadow: 0 0px 25px 16px rgba(240, 71, 71, 0),
                    0 0 3px 8px rgba(240, 71, 71, 0);
    }                              /*^^^  ^^  ^^*/
}

/* Popout menus */

.popout-menu {
	border-radius: 0;
	background: #252525;
}
.popout-menu .popout-menu-separator {
	display: none;
}
.popout-menu .popout-menu-icon {
	opacity: 1;
}
.popout-menu .popout-menu-item {
	color: #fff;
}
.popout-menu .popout-menu-item:hover {
	background-color: rgba(0,0,0, 0.2);
	color: #fff;
}
.popout-menu .popout-menu-item.leave:hover {
	color: #f04747;
}

/* Small popouts */

.small-popout-box {
    background: #252525;
    border: 0px solid #ebebeb;
    border-radius: 0px;
    position: relative;
}
.option-popout .btn-item {
    color: #fff;
}
.option-popout .btn-item:hover {
	background-color: rgba(0,0,0, 0.2);
    color: #fff;
}

/* Pinned Messages popout */

.theme-dark .themed-popout .header {
    background-color: #252525;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}
.theme-dark .themed-popout {
    background-color: #252525;
    border: none;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,.5);
}
.theme-dark .messages-popout-wrap .messages-popout .message-group {
	background-color: #2b2b2b;
    border-color: rgba(28,36,43,.6);
}
.messages-popout .message-group .message {
    max-width: 296px;
    padding: 10px;
    border: none;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group .action-buttons {
    background-color: rgba(0,0,0,0);
    box-shadow: none !important;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 2px;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {
    background-color: #3b3b3b;
    color: #fff;
}
.theme-dark .themed-popout .footer {
    background-color: rgba(0,0,0,.5);
}
.theme-dark .private-channel-recipients-invite .friend.selected, .theme-dark .private-channel-recipients-invite .friend:hover {
    background: rgba(0,0,0,.2);
}
.search-bar .search-bar-inner {
    background-color: rgba(0, 0, 0,.5);
    box-shadow: 0 0px 10px rgba(0,0,0,.5);
    border: 0px solid rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 2px;
    position: relative;
}

/* Add friends to DM */
.theme-dark .private-channel-recipients-invite .friend {
    background: #252525;
    color: #fff;
}
.private-channel-recipients-invite .body .scroller {
    height: 192px;
    overflow-x: hidden;
    background-color: #252525;
}

/* Server list */

.guilds-wrapper {
    z-index: 10;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: #1f1f1f;
    contain: layout;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 70px;
    box-shadow: 5px 0 10px rgba(0,0,0,.1);
}

/* Guild Server Icons */

.guilds-wrapper .guilds .guild .guild-inner {
    background: #212121;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
    background-color: rgb(53, 53, 53) !important;
}
.guilds-wrapper .guilds .guild .guild-inner:hover {
    box-shadow: 0 0 30px #000;
    transition: box-shadow 0.2s ease-in-out;
}

/* Create guild */

.create-guild-container.deprecated {
    background-color: #2b2b2b !important;
	border-radius: 0px;
}
.form.deprecated header {
    color: #d2d2d2;
}
.create-guild-container.deprecated .create-or-join .form-inner {
    background-color: #2b2b2b;
}
.create-guild-container.deprecated .action {
    background: hsla(0, 0%, 7%, 0.75);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

/* Channel colors */

.content-2mSKOj {
    border-radius: 0px;
    height: 32px;
    margin: 1px 0 1px 8px;
    overflow: hidden;
    padding: 0 8px;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,.3);
}
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .nameLockedText-2fGz07, .nameLockedVoice-wNOMNa {
    color: #9e9e9e !important;
}
.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm {
    color: #a0a0a0 !important;
}
.contentDefaultText-2elG3R {
    background-color: rgba(51,51,51,.6);
}
.contentHoveredText-2HYGIY {
    background-color: rgba(71,71,71,.6) !important;
    transition: background-color 0.3s ease-in-out;
}
.contentSelectedText-3j5CXt {
    background-color: rgba(48,48,48,.6);
    transition: background-color 0.3s ease-in-out;
}
.contentHoveredText-2HYGIY {
    background-color: rgba(51,51,51,.6);
}
.contentMutedText-Lcl-Wj {
    background-color: rgba(51,51,51,.6);
}
.contentUnreadText-3oxASB {
    border: 10px;
    border-color: #fff;
    background-color: rgba(51,51,51,.6);
}
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .nameLockedText-2fGz07, .nameLockedVoice-wNOMNa {
    color: #555556;
}

/* Voice Channel Colors */

.contentDefaultVoice-311dxZ {
    background-color: rgba(51,51,51,.6);
}
.contentHoveredVoice-3qGNKh {
    background-color: rgba(71,71,71,.6) !important;
    transition: background-color 0.3s ease-in-out;
}
.contentSelectedVoice-gTtYM9 {
    background-color: rgba(48,48,48,.6);
    transition: background-color 0.3s ease-in-out;
}
.contentHoveredVoice-3qGNKh {
    background-color: rgba(51,51,51,.6);
}
.contentLockedVoice-2lGH0M {
    background-color: rgba(33,33,33,.6);
    transition: background-color 0.3s ease-in-out;
}
.contentLockedVoice-2lGH0M:hover {
    background-color: rgba(40,40,40,.6);
    transition: background-color 0.3s ease-in-out;
}
.wrapper-2ldvyE {
    background-color: #1d1d1d;
    border-radius: 0;
    color: #9c9c9c;
}


/* User list Colors */

.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
    background: #474747;
}
.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:focus {
    background: #333333;
    transition: background 0.3s ease-in-out;
}

/* Friend list header */

.theme-dark .headerBar-cxbhPD {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: #353535;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}
#friends .friends-table {
    margin-top: 0px;
}

/* Friend List Content */

.theme-dark #friends .friends-table .friends-row {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
	background-color: rgba(0,0,0, 0.2);
    transition: 0.3s ease-in-out;
}
.theme-dark #friends .friends-table .friends-row:hover {
    margin-right: 20px;
    background-color: rgba(28,28,28, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: 0.3s ease-in-out;
}


/* Friend List Colors */

.private-channels .channel a {
    border-radius: 0;
}
.private-channels .channel:hover a {
    background-color: rgba(71,71,71,.6);
    color: #fff;
}
.private-channels .channel.selected a {
    background-color: rgba(51,51,51,.6);
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.keybind-shortcut span {
    border: 0px solid #95989d;
    border-radius: 0px;
    box-shadow: inset 0 -4px 0 #caccce;
    cursor: default;
    display: block;
    height: 23px;
    margin-right: 3px;
    min-height: 14px;
    min-width: 14px;
    padding: 3px 6px 4px;
    text-align: center;
}
.keybind-shortcut.dark span {
    -webkit-box-shadow: inset 0 -4px 0 rgba(35,39,42,.6);
    background-color: #383838;
    border-color: #202225;
    box-shadow: inset 0 -4px 0 rgba(35,39,42,.6);
    color: #95989d;
}

/* Calling */

.titleWrapper-3Vi_wz {
    background-color: #353535 !important;
}
.ui-video {
    background-color: #0c0c0c;
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center {
    background-color: #18191c;
    border-color: #18191c;
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center {
    background-color: #353535;
    border: none;
    border-radius: 0px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0.5);
}
.private-channel-call.full-screen .private-channel-call-actions .center, .private-channel-call.full-screen .private-channel-call-actions .side, .private-channel-call.no-chat .center, .private-channel-call.no-chat .side, .private-channel-call.normal .center, .private-channel-call.normal .side {
    background-color: rgba(0,0,0,.8);
    border: none;
    padding: 5px;
    border-radius: 0;
}
.theme-dark .ui-quick-select-popout {
    background: #252525;
    color: #fff;
    border-radius: 0;
    transition: background-color .2s ease-in-out;
}
.theme-dark .ui-quick-select-popout-option:hover {
	background-color: rgba(0,0,0, 0.2);
    transition: background-color .2s ease-in-out;
}
.item-3H-QZD:first-child {
    border-radius: 0;
}
.item-3H-QZD:last-child {
    border-radius: 0;
}
.theme-dark .tiles-3jKTg9 {
    background-color: #171717;
}
.dark-elevation-high, .theme-dark .elevation-high {
    border-radius: 0px;
}
.theme-dark .incoming-call-inner {
    background: #2b2b2b;
    border: none;
    border-radius: 0px;
}

/* Profiles */

#user-profile-modal {
    border-radius: 0px;
}
#user-profile-modal .header {
    background-color: #212121;
    background-image: url(/assets/29d5ff462afb11bce1979cf694aee3d1.png);
    background-size: 0;
    box-sizing: border-box;
    height: 150px;
    justify-content: center;
    padding-left: 215px;
    position: relative;
    user-select: text;
}
#user-profile-modal .header:after {
    background-color: #171717;
    background-image: none;
    content: " ";
    height: 150px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag {
    color: #fff;
    font-size: 18px;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator {
    color: #fff;
    font-size: 16px;
}
#user-profile-modal .header .header-info .header-info-inner .activity {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding-top: 4px;
    width: 250px;
}
#user-profile-modal .tab-bar-container {
    align-items: center;
    background-color: #171717;
    border: none;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.1);
    padding-left: 213px;
    padding-right: 20px;
}
#user-profile-modal .empty {
    align-items: center;
    background: #484848;
}
#user-profile-modal .empty .empty-text {
    color: #fff;
}
#user-profile-modal .scroller {
    background: #484848;
    padding: 8px 0;
}
#user-profile-modal .guilds .guild {
    color: #fff;
    margin-left: 15px;
    padding: 5px 16px 5px 20px;
}
#user-profile-modal .guilds .guild {
    background: #2b2b2b;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
#user-profile-modal .guilds .guild .status {
    border: 2px solid #424242;
}
#user-profile-modal .guilds .guild:hover .status {
    border: 2px solid #424242;
}
#user-profile-modal .guilds .guild:hover {
    background: #3a3a3a;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.avatar-profile {
    background-size: 128px 128px;
    height: 128px;
    width: 128px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#user-profile-modal .tab-bar {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
    background: #484848;
    box-shadow: 0 0px 10px 10px rgba(0,0,0,.5);
}
#user-profile-modal .tab-bar .tab-bar-item {
    border-bottom-color: #939393;
    color: #939393;
}
#user-profile-modal .tab-bar .tab-bar-item.selected {
    border-bottom-color: #fff;
    color: #fff;
}
#user-profile-modal .guilds .section .section-header {
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.note textarea {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    max-height: 88px;
    outline: none;
    padding: 2px 10px;
    resize: none;
    width: 100%;
}
.note textarea:focus {
    background: transparent;
}
#user-profile-modal .guilds .section {
    margin-left: 28px;
    margin-right: 28px;
    padding-bottom: 0px;
    padding-top: 20px;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account {
    border: none;
    border-radius: 0;
    background: #2b2b2b;
    margin-top: 20px;
    padding: 8px 14px 8px 8px;
    width: 200px;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name {
    color: #fff;
}
#user-profile-modal .header .header-info {
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
    z-index: 2;
    margin-left: 80px;
}
#user-profile-modal .actions {
    background: transparent;
    padding-top: 20px;
    z-index: 1;
    margin-left: 80px;
}


/* Profile Context Menu */

.context-menu .item.danger{
    color: #f04747!important;
    transition: background-color .2s ease-in-out
}
.context-menu .item.danger:hover {
    color: #f04747!important;
    background-color: #c73b3b;
    transition: background-color .2s ease-in-out
}
.context-menu .item {
    color: white;
    transition: background-color .2s ease-in-out
}
.context-menu .item:hover {
    color: white;
	background-color: rgba(0,0,0, 0.2);
    transition: background-color .2s ease-in-out
}
.userPopout-4pfA0d {
    border-radius: 0px;
    color: #2b2b2b;
    overflow: hidden;
    width: 250px;
}
.headerNormal-1cioxU {
    background: #171717;
    padding-top: 15px;
}
.avatarNormal-3luwna {
    border-color: rgba(119, 68, 175, 0.73);
}
.avatar-1jmnc- {
    border: 0px solid;
}
.avatarWrapperNormal-1wU7gX:hover .avatarHint-2i5XWK {
    opacity: 1;
}
.avatarHint-2i5XWK {
    -webkit-box-shadow: inset 0 0 120px rgba(0,0,0,.75);
    -webkit-transition: opacity .1s ease;
    border-radius: 50%;
    bottom: 0;
    box-shadow: inset 0 0 120px rgba(0,0,0,.75);
    font-size: 10px;
    font-weight: 700;
    left: 0;
    line-height: 12px;
    margin: 0px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    transition: opacity .1s ease;
    z-index: 2;
}
.header-3mZJcV .avatarStatusOnline-3Io--E {
    border: none;
}
.body-3rkFrF {
    background-color: #2b2b2b;
    border-bottom: 0px solid #dcddde;
    padding: 10px;
}
.member-roles .member-role {
    background-color: #272727;
    border: 1px solid #000000;
    border-radius: 0px;
    color: #000000;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-right: 4px;
    padding: 2px 4px;
}
.footer-2J5zqP {
    background-color: #171717;
    padding: 0;
    padding-bottom: 10px;
}
.quick-message {
    background: #171717;
    color: #fff;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    padding: 8px 10px;
    resize: none;
    width: 100%;
}
.protip.inline {
    padding-top: 10px;
}
.avatarHintInner-1JYcVr {
    color: #fff;
}

/* Quick Switcher */

.quickswitcher-2NdiGJ {
    align-items: stretch;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2), 0 0 0 1px rgba(28,36,43,.6);
    padding: 20px 20px 0;
    position: relative;
    width: 570px;
}
.theme-dark .input-MwQhcX {
    background-color: #1f1f1f;
    color: #fff;
}
.theme-dark .input-MwQhcX:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease-in-out;
}
.theme-dark .resultFocused-2geRUA {
    background-color: rgba(0,0,0,.2);
}
.theme-dark .quickswitcher-2NdiGJ {
    background-color: #252525;
    color: #dcddde;
}

/* Search popout */


.search-popout {
    background: #2b2b2b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 0 1px 1px rgba(255, 255, 255, .02) inset!important;
    border-radius: 0px!important
}
.search-popout .option::after {
    background: none !important;
}

.search-popout .option.selected {
    background: #252525;
}

.search-popout .option:active {
    background: #353535;
}

.search-popout .option.selected::after {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #252525 80%);
}

.search-popout .option.selected::after {
    background: transparent!important
}

.search-popout .search-option .filter {
    color: #fff;
    background: #252525;
    margin-top: -4px;
    margin-bottom: -4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 1px;
    padding-right: 2px;
    margin-left: -4px;
    padding-left: 4px;
    border-radius: 2px
}

.search-popout .search-option.selected .filter {
    background: #353535;
}

.search-popout .results-group::before {
    display: none!important;
}

.search-popout .search-query {
    border: none;
}

/* Search Results */

.search-results-wrap,
.search-results-wrap .search-header {
    background: #1f1f1f!important
}

.theme-dark .search-results-wrap .search-result::before {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),#131313);
}

.theme-dark .search-results-wrap .search-result::after {
    background-image: linear-gradient(180deg, transparent 0, #131313 100%);
}

.theme-dark .search-results-wrap .search-result .hit {
    box-shadow: 0 0 10px 10px rgba(0,0,0,.3);
}

.theme-dark .search-results-wrap .search-result .search-result-message.hit,
.theme-dark .search-results-wrap .search-result.expanded {
    border: none;
}

.search-results-wrap .search-result .search-result-message {
    border-radius: 0px;
    background: transparent;
    border: none!important;
}

.theme-dark .search-results-wrap .search-result .hit {
    background: #353535;
}

.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background: #353535;
}

.search-results-wrap .search-result .search-result-message .message-group {
    margin-bottom: 10px!important;
}

.theme-dark .search-results-wrap .channel-separator .channel-name {
    background: transparent;
}

.search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar {
    background: #353535;
    width: 8px!important;
}

/* Channel lists */

.container-RYiLUQ {
    background-color: #191919;
    contain: layout;
    min-height: 0;
    position: relative;
}
.private-channels {
    -moz-user-select: none;
    -ms-flex: 1;
    -ms-flex-direction: column;
    -ms-user-select: none;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-sizing: border-box;
    -webkit-transform: translateZ(0);
    -webkit-user-select: none;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    user-select: none;
    background-color: #191919;
}

/* User list color */

.theme-dark .channel-members {
    background-color: #191919;
}

/* Activity Feed */

.theme-dark .activityFeed-HeiGwL {
    background-color: #2b2b2b;
}
.theme-dark .body-2WmNzl {
    background-color: rgba(31, 31, 31, 0.3) !important;
}
.theme-dark .activity-3tgXuD {
    background-color: #191919;
    border-color: #3a3a3a;
    color: #a9a9a9;
}
.activity-3tgXuD {
    border: 0px solid transparent;
    border-radius: 0px;
    cursor: default;
    overflow: hidden;
    box-shadow: 0 0 10px #161616
}
.discriminator-1Te-8N {
    color: #949494;
}
.theme-dark .newsIconCircle-2mzNOD {
    background-color: #252525;
}
.theme-dark .mutualFriendIconBackground-wlnw8X {
    background-color: #252525;
}
.theme-dark .content-1RjmSK {
    background-color: #252525;
    color: #b9bbbe;
}
.theme-dark .content-1RjmSK:hover {
    background-color: #3a3a3a;
}
.theme-dark .title-3gegwE {
    color: #dcddde;
}
.header-34ZDfM {
    border-bottom: 0px solid transparent;
    padding: 10px;
    position: relative;
    box-shadow: 0 1px 10px #161616
}
.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after, #friends [class*='flex-'] [class*='flex-']:last-of-type:after, [class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {
    content: '';
    width: 0px;
    height: 22px;
    background-color: hsla(240,6%,97%,.1);
}
.theme-dark .partyBottomBorder-3UKgJE {
    background-color: #3c3f42;
}

/* DMs Direct Messages text */

.private-channels header {
    -webkit-transition: opacity .15s ease;
    color: #fff;
    opacity: .5;
}

/* User settings */

.channels-3g2vYe {
    -ms-flex-negative: 0;
    background-color: #0f0f0f;
    flex-shrink: 0;
    width: 240px;
}

/* Voice Connected */

.container-3lnMWU {
    border-bottom: 0px solid #36393f;
}
.private-channels .channel.selected {
    color: #fff;
}

/* Emoji Picker */

.emoji-picker {
	background: #252525 !important;
	border: 0;
	border-radius: 0;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
.diversity-selector .popout {
    background: #1e1e1e;
    border: 0px solid #dadddf;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
}
.diversity-selector .popout .item:hover {
    background-color: rgba(0,0,0,.3);
}
.emoji-picker .dimmer {
	border-radius: 0;
}
.emoji-picker .dimmer.visible {
    background-color: hsla(0, 0%, 2%, 0.6);
    pointer-events: auto;
}
.emoji-picker .header {
	background-color: rgba(0,0,0,.5);
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	border: 0;
}
.emoji-picker .search-bar {
	background: none;
}
.emoji-picker .search-bar input::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.7;
}
.emoji-picker .search-bar input {
	padding: 0;
	color: #fff;
}
.emoji-picker .search-bar-icon {
	margin-left: 5px;
}
.emoji-picker .search-bar-inner::after {
	opacity: 1;
}
.emoji-picker .sticky-header {
	background: #252525;
}
.emoji-picker .scroller .emoji-item.selected {
	background-color: rgba(0,0,0, 0.2);
}
.emoji-picker .categories {
	background: #252525);
	margin: 0;
	padding: 0 12px;
	border: 0;
}
.emoji-picker .categories .item.selected {
	border-bottom-color: #252525;
}

/* NSFW Channel Warning */

.theme-dark .chat>.content {
    background-color: #2b2b2b;
}
.theme-dark .title-2mmhgH {
    padding: 8px;
    background: #1e1e1e;
    color: #c4c4c4;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Chat header */

.theme-dark .title-qAcLxz {
    background: #353535;
}
.header-1tSljs {
	background: #141516;
	box-shadow: #fff;
	border-bottom: 0;
}
.header-1tSljs:hover {
	background-color: #353535;
}

/* Chat commands */
.autocomplete-1TnWNR {
    border-radius: 0px 0px 0 0;
}
.theme-dark .autocomplete-1TnWNR {
    background-color: #252525;
    border: none !important;
}
.theme-dark .selectorSelected-2M0IGv {
	background-color: rgba(0,0,0, 0.2);
    border: none;
}

/* Chat pictures */

.message-group .comment .attachment-image a {
    border-radius: 0;
    margin: 5px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0,1);
}

/* Chat color */

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: #2b2b2b;
}
.message-group .comment {
    margin-right: 20px;
    min-width: 0;
    border: 10px;
    background: #212121;
    padding: 10px;
}

/* Chat avatars */

.chat .avatar-large {
    -webkit-transition: opacity .2s ease;
    cursor: pointer;
    opacity: 1;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, .2);
    
}
.chat .avatar-large:hover {
    -webkit-transition: opacity .2s ease;
    cursor: pointer;
    opacity: 1;
}

/* Chat textbox */

.theme-dark .inner-3if5cm {
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 0;
    transition: box-shadow 0.3s ease-in-out;
}
.theme-dark .inner-3if5cm textarea:focus parent {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.theme-dark .chat form {
    -webkit-box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    background-color: #1f1f1f;
    box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    padding-left: 20px;
    padding-right: 20px;
}
.channel-textarea{
    position:relative;
}
.theme-dark .chat form {
    border: none!important;
    margin: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}
.chat form .typing {
    background: #1f1f1f !important;
    bottom 0;
    padding-left: 20px;
}

/* Code */

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: #1b1b1b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1)
}

/* Embeds */

.embed-wrapper {
    margin-top: 5px;
    max-width: 520px;
    position: relative;
    border-radius: 0;
}
.theme-dark .message-group .embed {
    background-color: #1b1b1b;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.theme-dark .message-group .embed-wrapper .embed-color-pill {
    z-index: 1;
    background-color: transparent;
    border-radius: 0px;
}

/* Invitenotice message */

.theme-dark .invite-button {
    background-color: #2b2b2b;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Rich Presence */

.theme-dark .elevationLow-5GEz9e {
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 0;
    background-color: #2b2b2b;
}
.coverImage-2oiOoS {
    -webkit-mask: linear-gradient(90deg, rgba(0,0,0,.3) 10%,#fff);
}

/* New Messages message */

.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: #c740e8;
    opacity: .4;
}
.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: rgba(199, 64, 232,.8);
}
.theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider span {
    background-color: rgba(0,0,0,0);
}

/* Load More Messages */

.theme-dark .chat .has-more button {
    background: #1d1d1d;
    border: 0px solid #2f3136;
    transition: background 0.3s ease-in-out;
}
.theme-dark .chat .has-more:hover button {
    background: #282828;
    border: 0px solid #2f3136;
}

/* Viewing older messages */

.theme-dark .chat .jump-to-present-bar {
    background-color: rgba(33,33,33,.9);
    transition: background-color .3s ease-in-out;
    border-radius: 0;
}
.theme-dark .chat .jump-to-present-bar:hover {
    background-color: rgba(39,39,39,.9);
    transition: background-color .3s ease-in-out;
}

/* New Messages */
.chat .new-messages-bar {
    background-color: rgba(33,33,33,.9);
    transition: background-color .3s ease-in-out;
    border-radius: 0;
}
.chat .new-messages-bar:hover {
    background-color: rgba(39,39,39,.9);
    transition: background-color .3s ease-in-out;
}
.chat .new-messages-bar button:last-child {
    color: #fff;
}

/* New Unreads */

.unread-2TDDFN {
    background-color: rgba(33,33,33,.9);
transition: background-color .3s ease-in-out;
}
.unread-2TDDFN:hover {
    background-color: rgba(39,39,39,.9);
    transition: background-color .3s ease-in-out;
}

/* Blocked Message */

.theme-dark .friends-table .messages .message-group-blocked.revealed, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed {
    background: #212121;
    border: none;
}
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn {
    background: #1d1d1d;
    color: #8a8e94;
    transition: background,color 0.3s ease-in-out;
}
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn:hover {
    background: #282828;
    color: #fff;
}

/* Options Menu */

.theme-dark .ui-standard-sidebar-view .content-region {
    background: #2b2b2b;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: #191919;
}
.avatar-xxlarge {
    border-radius: 3px;
    box-shadow: 0 0 10px #000
}
.user-settings-account .avatar-uploader-inner {
    border-radius: 3px;
    box-shadow: 0 0 10px #000;
}
.theme-dark .cardPrimary-ZVL9Jr {
    background: rgba(25, 25, 25, 0.6);
    border-color: #202225;
}
.theme-dark .cardPrimaryEditable-2IQ7-V {
    background: rgba(25, 25, 25, 0.6);
    border-color: #202225;
    border-radius: 0;
}
.theme-dark .input-2YozMi {
    background-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.3);
    color: #f6f6f7;
    border-radius: 0;
}
.theme-dark .input-2YozMi:hover {
    border-color: #040405;
}
.theme-dark .input-2YozMi:focus {
    border-color: #7289da;
}
.theme-dark .avatar-uploader-indicator {
    background-color: #1c1c1c;
}
.theme-dark .cardPrimaryOutline-2YyAz2 {
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,.3);
    transition: all .2s ease-in-out;
}
.theme-dark .cardPrimaryOutline-2YyAz2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.theme-dark .user-settings-connections .connect-account-btn .connect-account-btn-inner {
    background-color: rgba(60,60,60,1);
    border: none;
    border-radius: 0;
    transition: all .2s ease-in-out;
}
.theme-dark .user-settings-connections .connect-account-btn .connect-account-btn-inner:hover {
    background-color: rgba(45,45,45,1);
    transition: all .2s ease-in-out;
}
.theme-dark .user-settings-keybinds .keybind-group {
    border: none;;
}
.theme-dark .ui-hover-card:before {
    background-color: rgba(0,0,0,.3);
}
.user-settings-voice .media-engine-video {
    border-radius: 0px;
}
.theme-dark .user-settings-voice .preview-overlay {
    background-color: #202020;
    border-color: #000;
}
.theme-dark .header-1-f9X5 {
    color: #cecece;
}
.theme-dark .description-3MVziF, .theme-dark .labelDescriptor-1BebCl {
    color: #cecece;
}

/* Audit Logs */

.theme-dark .headerClickable-1jGUp8, .theme-dark .headerDefault-1ajMkj {
    background-color: rgba(0, 0, 0, 0.3);
    color: #cecece;
}
.theme-dark .headerExpanded-wW1rBx {
    background-color: rgba(0,0,0,.6);
    color: #cecece;
}
.theme-dark .changeDetails-zbf-61 {
    background-color: rgba(0,0,0,.3);
}

/* Esc button */

.theme-dark .ui-standard-sidebar-view .btn-close {
    border-color: #5a5a5a;
    border-radius: 0;
    transition: background-color .2s ease-in-out;
}
.theme-dark .ui-standard-sidebar-view .btn-close:hover {
    background-color: hsla(0, 0%, 0%, 0.3);
    transition: background-color .2s ease-in-out;
}
.theme-dark .ui-standard-sidebar-view .esc-text {
    color: #5a5a5a;
}

/* modal theming */

.theme-dark .modal-3HOjGZ {
    background-color: #252525;
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    border-radius: 0;
}
.theme-dark .footer-1PYmcw {
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    background-color: #171717;
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
}

/* Upload modal */

.upload-modal {
    background-color: #2b2b2b;
    border-radius: 0px;
}
.upload-modal .inner {
    border: none;
    border-radius: 0;
    color: #fff;
    margin: 0;
}
.upload-modal .inner .file .icon.image {
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}
.upload-modal .footer {
    background-color: #171717;
    border-radius: 0;
}
.upload-modal .footer .button {
    margin-right: 10px;
}

/* Help Modal */

.need-help-modal.deprecated .header {
    background-color: #252525;
    border-radius: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.need-help-modal.deprecated .header input[type=text] {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    background-color: #171717;
    border-radius: 0;
    color: #fff;
}
.form.deprecated .control-group input[type=email], .form.deprecated .control-group input[type=number], .form.deprecated .control-group input[type=password], .form.deprecated .control-group input[type=text], .form.deprecated .control-group textarea {
    border: none;
}
.form.deprecated .control-group input[type=email], .form.deprecated .control-group input[type=number], .form.deprecated .control-group input[type=password], .form.deprecated .control-group input[type=text], .form.deprecated .control-group textarea:focus {
    border: none;
}
.form.deprecated .form-inner {
    background-color: #171717;
}
.need-help-modal.deprecated a {
    color: #929292;
}
.need-help-modal.deprecated a:hover {
    color: #cecece;
}
.need-help-modal.deprecated .footer {
    background-color: #252525;
    border-radius: 0;
    border-top: none;
    color: #eaeaea;
    box-shadow: 0 -10px 10px rgba(0,0,0,.5);
}

/* KeyBoard combos Modal */

.keyboard-shortcuts-modal {
    background-color: #2b2b2b;
    border-radius: 0px;
}
.keyboard-shortcuts-modal .modal-title {
    color: #fff;
}
.keyboard-shortcuts-modal .modal-subtitle {
    border-bottom: 0;
    color: #cecece;
}
.keybind-shortcut.dim span {
    background-color: #585858;
    color: #fff;
}
.keybind-shortcut span {
    border: none;
    border-radius: 0;
    background-color: #585858;
}
.keybind-shortcut span {
    border: none;
    border-radius: 0px;
    box-shadow: inset 0 -4px 0 #3e3e3e;
}
.keyboard-shortcuts-modal .keyboard-shortcut-list .keybind-group .keybind-description {
    color: #b9b9b9;
}
.keybind-shortcut {
    color: #969696;
}
g[Attributes Style] {
    fill: rgb(0, 0, 0);
}

/* Role Select Popout */

.popout header {
    background-color: #2b2b2b;
    border-radius: 0;
}
#autocomplete-popout h3 {
    color: #c3c3c3;
}
.popout section {
    background-color: #171717;
    border-radius: 0;
}
#autocomplete-popout .row.selected, #autocomplete-popout .row:hover {
    background: #2b2b2b !important;
    transition: background .2s ease-in-out;
}
#autocomplete-popout .row.selected a, #autocomplete-popout .row:hover a {
    color: #cecece;
}
#autocomplete-popout .row a {
    color: #cecece;
}
#autocomplete-popout .section {
    color: #c1c1c1;
}
#autocomplete-popout .empty h4 {
    color: #ffffff;
}
#autocomplete-popout .empty p {
    color: #cecece;
}
#autocomplete-popout .empty:hover {
    background-color: transparent;
    cursor: default;
}

/* Buttons */

.buttonBrandFilled-3Mv0Ra {
    background-color: #4c4c4c;
    color: #fff;
}
.buttonBrandFilled-3Mv0Ra:hover {
    background-color: #595959;
    color: #fff;
}
.upload-modal .footer .button-primary {
    background-color: #444;
    color: #fff;
}
.theme-dark .passthroughSelected-3_g4oB {
    background: #4c4d4e;
}

/* Switches */

.horizontal-2BEEBe>.flex-lFgbSz:last-child, .horizontal-2BEEBe>.flexChild-1KGW5q:last-child {
    border-radius: 0;
}
.themeDefault-3M0dJU {
    background-color: #404040;
}
.themeDefault-3M0dJU.sizeDefault-rZbSBU {
    box-shadow: 3px 3px 1px rgba(0,0,0,.4);
}
.themeDefault-3M0dJU.sizeDefault-rZbSBU:after {
    border-radius: 0;
}
.themeDefault-3M0dJU.valueChecked-3Bzkbm {
    box-shadow: 3px 3px 1px rgba(0,0,0,.4);
}
.themeClear-1NqU69.valueChecked-3Bzkbm {
    box-shadow: 3px 3px 1px rgba(0,0,0,.4);
}
.themeDefault-3M0dJU.sizeDefault-rZbSBU {
    border-radius: 0;
}
.valueChecked-3Bzkbm.sizeDefault-rZbSBU:after {
    border-radius: 0;
}
.themeClear-1NqU69.valueUnchecked-XR6AOk.sizeDefault-rZbSBU {
    box-shadow: 3px 3px 1px rgba(0,0,0,.4);
    background-color: #404040;
}
.themeClear-1NqU69.valueUnchecked-XR6AOk.sizeDefault-rZbSBU {
    box-shadow: 3px 3px 1px rgba(0,0,0,.4);
    background-color: #404040;
}
.sizeDefault-rZbSBU:after {
    border-radius: 0px;
    height: 18px;
    margin: 3px;
    width: 18px;
}

/* Dropdowns */

.theme-dark .ui-select>.Select .Select-control {
    background: rgba(0,0,0,.1);
}
.theme-dark .ui-select>.Select .Select-menu-outer {
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    background: #1a1a1a;
    border-color: #000000;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    border-radius: 0;
}
.theme-dark .ui-select>.Select .Select-menu-outer:hover {
    background: #484848;
}

/* Tooltips */

@keyframes tooltip-up {
	from {transform:translateY(10px);opacity:0}
}
@keyframes tooltip-down {
	from {transform:translateY(-10px);opacity:0}
}
@keyframes tooltip-right {
	from {transform:translateX(-10px);opacity:0}
}
@keyframes tooltip-left {
	from {transform:translateX(10px);opacity:0}
}

.tooltip {
	border-radius: 0;
	animation: tooltip-up 200ms ease-out;
	will-change: opacity, transform;
	background: #2d2d2d !important;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,.1)!important;
	font-size: 12px;
	padding: 10px 15px;
	color: #fff;
}
.tooltip-bottom {animation: tooltip-down 200ms ease;}
.tooltip-right {animation: tooltip-right 200ms ease;}
.tooltip::after {display:none;}

/*      Context Menu     */

@keyframes context-menu {
	from {
		margin-top:10px;
		opacity:0;
	}
}

@keyframes context-menu-invert {
	from {
		margin-top:-10px;
		opacity:0;
	}
}

.context-menu {
	border-radius: 0;
	animation: context-menu 200ms ease;
	background: #252525;
}

.context-menu.theme-dark, .context-menu.theme-dark .context-menu {
	background: #252525;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.context-menu.invertY {
	animation: context-menu-invert 200ms ease;
}

.theme-dark.context-menu .item-group {
	border: 0;
}

.context-menu.theme-dark .item-subMenu {
	background-color: #252525;
}
.context-menu.theme-dark .item.danger:hover {
	background: #c73b3b;
	color: white!important;
}

.context-menu.theme-dark .item-subMenu:hover, .context-menu.theme-dark .item:hover, .context-menu.theme-dark .item.danger:hover {
	background-color: rgba(0,0,0, 0.2);
	color: white;
	cursor: pointer;
}

.context-menu.theme-dark .item.danger:hover {
	background-color: #c73b3b;
}

.context-menu .item, .context-menu.theme-dark .item {
    border-left: #2b2b2b;
	border-radius: 0;
	padding: 8px 9px;
	margin: 0;
}

.context-menu .item.danger, .context-menu.theme-dark .item.danger {
	border: 0px solid #c73b3b;
}

/* Style for plugins */

#dv-container {
    background: #1f1f1f;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    height: 96px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.member-perms .member-perm {
    background-color: #353535;
    border: 1px solid #000000;
    border-radius: 0px;
    color: #b9b9b9;
}
.citar-btn {
    color: #fff !important;
    padding: 3px 5px;
    background: rgb(51, 51, 51);
    border-radius: 0px;
}
#permissions-modal-wrapper #permissions-modal {
    border-radius: 0px;
}
#permissions-modal-wrapper .header {
    background-color: #252525;
}
#permissions-modal-wrapper .role-side {
    background: #2b2b2b;
}
#permissions-modal-wrapper .perm-side {
    background-color: #272727;
}
#permissions-modal-wrapper .perm-item {
    box-shadow: none;
}
.bf-toolbar:before {
    background: #101010 !important;
}
.upload-modal .bf-toolbar {
    background: #161616 !important;
}

/* Toasts */
.toast {
    animation: toast-up 300ms ease;
    transform: translateY(-10px);
    background: #2d2d2d !important;
    padding: 10px;
    border-radius: 0px !important;
    box-shadow: 0 0 10px rgba(0,0,0,.3) !important;
    color: #fff;
}

/* Better Discord Custom CSS Menu */

.bd-detached-editor #bd-customcss-detach-container {
    display: block;
    background: #353535;
    padding-top: 48px;
}
.content-region .CodeMirror, .content-region .cm-s-material .CodeMirror-gutters, #bd-customcss-detach-container .CodeMirror, #bd-customcss-detach-container .cm-s-material .CodeMirror-gutters {
    background: #212121 !important;
}

.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: #212121;
    color: #FFF;
    border: none;
    box-shadow: 0px 1px 0px 0px #36393f inset;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    margin: 0;
    width: 100px;
    background: #4c4c4c;
    color: #FFF;
    height: 26px;
    font-weight: 600;
    margin-top: 5px;
    border: none;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: #595959;
}
#bd-settings-sidebar>span>span::after{
    padding-left:10px;
    display:block;
    padding-top:5px;
    margin-bottom:-10px;
    content: "Saucey's Dark Theme v1.0";
    color: #8247c1;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
    background-color: rgba(0,0,0,.2);
    margin-top: 10px;
    border: none;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(even) {
    background-color: rgba(0,0,0,.2);
    margin-top: 10px;
    border: none;
}
.bda-slist .bda-name {
    color: rgba(255,255,255,.6);
    font-weight: 700;
    font-size: 12px;
    overflow: hidden;
    display: block;
    max-height: 12px;
}

/* Better Discord Switch Fix Thanks to Zerebos */

.ui-switch-wrapper {
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    width: 44px;
    height: 24px;
    display: block;
    flex: 0 0 auto;
}
.ui-switch-wrapper {
    margin-top: 5px;
    margin-bottom: 15px;
    float: right;
}
.ui-switch-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.ui-switch-wrapper .ui-switch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #404040;
    box-shadow: 3px 3px 1px rgba(0,0,0,.4);
    border-radius: 0px;
    transition: background .15s ease-in-out,box-shadow .15s ease-in-out,border .15s ease-in-out;
}
.ui-switch-checkbox:checked+.ui-switch {
    background: #7289da;
}
.ui-switch-wrapper .ui-switch::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    background: #f6f6f7;
    border-radius: 0px;
    transition: all .15s ease;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 3px 3px 0 rgba(0,0,0,.05);
}
#bd-settingspane-container .ui-switch-wrapper .ui-switch-checkbox:checked+.ui-switch::before {
    transform: translate(20px,0)!important;
}
#bd-settingspane-container .ui-switch-wrapper .ui-switch-checkbox+.ui-switch::before {
    transform: translate(0,0);
}
#bd-settingspane-container .ui-switch-wrapper .ui-switch.checked::before {
    transform: translateX(20px);
}
.bda-right button {
    clear: right;
}

/* Custom user tags */

.message-group .avatar-large + .comment .old-h2 .timestamp::before {
	font-size: 10px;
	background: #682a8e;
	color: #fff;
	padding: 2px 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	margin-right: 6px;
	border-radius: 0px;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: bottom;
}

.message-group .avatar-large[style*="avatars/130127393728757760"] + .comment .old-h2 .timestamp::before {
	content: "Theme Author";
}
.message-group .avatar-large[style*="avatars/268845365275525120"] + .comment .old-h2 .timestamp::before {
	content: "Beta Tester";
    background: #515151;
}
.message-group .avatar-large[style*="avatars/303149364593950721"] + .comment .old-h2 .timestamp::before {
	content: "Beta Tester";
    background: #515151;
}
.message-group .avatar-large[style*="avatars/224739671706566667"] + .comment .old-h2 .timestamp::before {
	content: "Beta Tester";
    background: #515151;
}
